{% extends 'layout.html.twig' %}

{% block inner %}
    <div id="about_reqs_1">
        <div>
            <div class="title">Платежные реквизиты</div>
        </div>
    </div>

    <div id="about_reqs_2">
        <div>
            <div class="title">Общество с ограниченной ответственностью "РУСФОНДОМ"</div>
            <div class="content">
                <div>
                    <div class="name">ИНН</div>
                    <div class="value">7714374100</div>
                </div>
                <div>
                    <div class="name">КПП</div>
                    <div class="value">771401001</div>
                </div>
                <div>
                    <div class="name">ОКПО</div>
                    <div class="value">53819332</div>
                </div>
                <div>
                    <div class="name">ОГРН</div>
                    <div class="value">1167746164497</div>
                </div>
                <div>
                    <div class="name">Р/сч</div>
                    <div class="value">40702810938000098835 в ПАО Сбербанк</div>
                </div>
                <div>
                    <div class="name">Кор. Счет</div>
                    <div class="value">30101810400000000225 в ГУ БАНКА РОССИИ ПО ЦФО</div>
                </div>
                <div>
                    <div class="name">БИК</div>
                    <div class="value">044525225</div>
                </div>
                <div>
                    <div class="name">Адрес</div>
                    <div class="value">125315, г. Москва, Ленинградский проспект, дом 68, строение 24</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%- block title %}
    Реквизиты | РосФонДом - Оператора связи нашего города
{%- endblock %}
