<div>
    <div class="icons">
        <a href="https://twitter.com/" target="_blank" class="tw">&nbsp;</a>
        <a href="https://ok.ru/" target="_blank" class="ok">&nbsp;</a>
        <a href="https://www.instagram.com/" target="_blank" class="in">&nbsp;</a>
        <a href="https://facebook.com/" target="_blank" class="fb">&nbsp;</a>
        <a href="https://vk.com/" target="_blank" class="vk">&nbsp;</a>
    </div>
</div>

