{% extends 'layout.html.twig' %}

{% block inner %}
    <div id="page404">
        <div>
            <div class="title">Ошибка 404.<br> Такой страницы не существует.</div>
            <div class="but"><a href="/" class="button_3">Вернуться на главную</a></div>
        </div>
    </div>
{% endblock %}